.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 252px);

    max-height: 0;
    visibility: hidden;
    pointer-events: none;

    &.active {
        max-height: unset;
        visibility: visible;
        pointer-events: auto;
    }
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: $fade-duration;

    $widths: (1: 0px, 2: 160px, 3: 320px, 4: 480px, 5: 320px, 6: 160px, 7: 0);

    @each $pos,
    $width in $widths {
        &:nth-child(#{$pos}) {
            margin-top: $width;
            transition-delay: $columns-transition-delay * $pos;
        }
    }
}

.item {
    width: 236px;
    height: 350px;
    background: $red;
    border-radius: 10px;
}

.item:not(:first-child) {
    margin-top: 16px;
}